@import "tailwindcss";

@theme {
  --color-primary: #ff5e00;
  --color-primary-dark: #cc4b00;
  
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-display: 'Outfit', system-ui, sans-serif;
}

@layer base {
  body {
    @apply antialiased text-slate-800 bg-slate-50;
  }
}
